@import '@scss/_variables.scss';

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  .label {

  }

  & .body {
    overflow: hidden;

    background: $whiteColor;
    top: 1.6rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    border: 1px solid $blackColor;

    border-radius: 1rem;

    cursor: pointer;

    & .top {
      padding: 1rem;

      & img {
        height: 1rem;
      }
    }

    & .list {
      z-index: 1000;

      & li {
        padding: 1rem;
        border-top: 1px solid $blackColor;

        background: $whiteColor;
      }
    }
  }
}
