@import '@scss/_variables.scss';

.swiftSepaPage {

    & .SSP-first {
      display: flex;
      height: calc(100vh - 60px);
      justify-content: space-between;
      align-items: center;

      & img {
        width: 40rem;
      }

      & .pageRight {
        & .badges {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, auto);
        }
      }
    }



  section.SSP-first {}
  section.SSP-second {
  }
  section.SSP-third {
    & img {
      width: 35rem;
    }
  }

  section.SSP-fourth {}
  section.SSP-fifth {}
  section.SSP-sixth {}
  section.SSP-seventh {
    position: relative;

    margin-bottom: 8rem;

    & img {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    & h2 {
      z-index: 1;
    }
  }
}