@import "reset";
@import "variables";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media (min-width: $BP-desk_norm) {
    font-size: 12px;
  }

  @media (min-width: $BP_desk_wide) {
    font-size: 14px;
  }

}

.page {
  padding: 0 8rem;
}

* {
  font-family: 'TT Firs Neue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;

  white-space: nowrap;
}

h1 {
  font-size: $h1FS;
  font-weight: 600;
}

h2 {
  font-size: $h2FS;
  font-weight: 600;
}

span {
  font-family: Arial, sans-serif;
}

a {
  cursor: pointer;

  font-size: 1rem;

  font-weight: 500;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

p {
  font-weight: 500;

  font-size: 1rem;
}

.bold {
  font-weight: 700;
}