@import "reset";
@import "variables";
@import "./tailwind.scss";

@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.noOverflow {
  overflow: hidden;
}

.page {
  padding: 0 8rem;
}

.lastSection {
  padding-bottom: 8rem;
}

* {
  font-family: 'TT Firs Neue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;

  white-space: nowrap;
}

h1 {
  font-size: $h1FS;
  font-weight: 600;
}

h2 {
  font-size: $h2FS;
  font-weight: 600;
}

span {
  font-family: "Trocchi", serif;
}

a {
  cursor: pointer;

  font-size: 1rem;

  font-weight: 500;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

p {
  font-weight: 500;

  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

.h1 {
  font-size: $h1FS;
}

.DatePicker {
  z-index: 100000;
}

.input.empty-red {
  & label {
    color: $redColor;
  }

  & input {
    border-color: $redColor;
  }
}

.select.empty-red {

  & .body {
    border-color: $redColor;

    & .list {
      li {
        border-color: $redColor;
      }
    }
  }

  & .label {
    color: $redColor;
  }
}

.datePicker.empty-red {
  & button {
    border-color: $redColor;
  }

  & label {
    color: $redColor;
  }
}

.pageLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;

  text-align: start;

  width: 100%;
}

.pageRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;

  text-align: end;

  width: 100%;

  & .badges {
    display: grid;
    gap: 0.2rem;
    row-gap: 0.8rem;

    text-align: center;

  }
}

.page section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  width: 100%;

  & h2 span {
    font-size: $h2FS;
  }

  & p {
    max-width: 30rem;
    text-wrap: wrap;
  }

  & img {
    width: 40rem;
  }
}